.js #preloader { 
	position: fixed; left: 0; 
	top: 0; 
	z-index: 999; 
	width: 100%; 
	height: 100%;
	overflow: visible;
	background: #333 url(resources/loading.gif) no-repeat center center;
}


.text  {
	position:absolute;
	z-index:1;
}

.panelBreak{
	border-top: 1px solid rgba(10, 10, 10, 0.2);
}

/* Video Placement */
#bgVid {
	z-index: -1; 
}

#bgNiceVid { 
	z-index: -1;
}

video {
	position:relative;
	min-width: 100%;
	min-height: 100%;
}

body {
	margin: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

#navbar {
	z-index: 300;
	position: fixed;
	margin-top: 20px;
	-webkit-transform: translate3d(0, 0, 0);
	width: 400px;
}

#panel_1 {
	z-index: -2;
	position: relative;
	background: -webkit-linear-gradient(#111111, #222222); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#111111, #222222); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#111111, #222222); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#111111, #222222); /* Standard syntax */
}


#panel_2 {
	background-color: #123456;
}

#panel_3 {
	background-color: orange;
}
#panel_4 {
	background-color: red;
}

#panel_5 {
	background-color: blue;
}
